.card {
  border: 1px solid #dadde1;
  margin: 30px auto;
  padding: 15px0px;
  border-radius: 5px;
  text-align: center;
  background: linear-gradient(#f7ce7a, #866fbf, #58a2b1, #3f8aa7);
}
form {
  text-align: left;
}
.conditions,
.minmax {
  color: white;
  display: table;
  margin: auto;
  font-size: 11px;
  opacity: 0.5;
}
h1 {
  text-align: center;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.currentDate {
  opacity: 0.5;
  color: white;
  font-size: 18px;
}
.currentCondition {
  font-size: 25px;
  color: white;
}
.temperature {
  font-size: 50px;
  color: white;
}

.container {
  text-align: center;
  color: white;
  font-size: 15px;
}
button {
  position: relative;
  bottom: 29px;
  color: #3f8aa7;
  background: white;
}
small {
  margin-top: 0 auto;
  font-family: monospace;
  font-size: 12px;
  color: black;
}
